body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

/* MENU */
#menu{
  padding:60px;
}

.ilustrasi{
  width:300px;
  height:250px;
  margin:30px auto;
  background:linear-gradient(to top,#22c55e,#38bdf8);
  border-radius:20px;
  animation:float 2s infinite alternate;
}

@keyframes float{
  from{transform:translateY(0);}
  to{transform:translateY(-10px);}
}

button{
  padding:22px 30px;
  border:none;
  border-radius:20px;
  background:#22c55e;
  color:white;
  cursor:pointer;
}

.hidden{display:none;}

canvas{
  display:block;
  margin:auto;
  border:4px solid #22c55e;
  background:linear-gradient(#38bdf8,#4ade80);
}

/* CONTROL */
#controls{
  position:fixed;
  bottom:10px;
  width:100%;
}

/* QUIZ */
#quizBox{
  position:absolute;
  top:20%;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  padding:30px;
  border-radius:25px;
  width:300px;
}

/* FEEDBACK */
#feedbackBox{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:20px;
  border-radius:15px;
  background:#111;
}

/* ===== MENU LEBIH HIDUP ===== */
#menu{
  padding:50px;
  background:linear-gradient(to bottom,#0f172a,#1e293b);
}

/* animasi anak + grafik */
.ilustrasi{
  width:320px;
  height:250px;
  margin:30px auto;
  background:linear-gradient(135deg,#22c55e,#38bdf8);
  border-radius:30px;
  position:relative;
  overflow:hidden;
}

/* grafik animasi */
.ilustrasi::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-bottom:3px solid cyan;
  border-radius:50%;
  transform:scaleX(1.2) scaleY(0.6);
  animation:graphMove 2s infinite alternate;
}

@keyframes graphMove{
  from{transform:scaleX(0.8) scaleY(0.4);}
  to{transform:scaleX(1.2) scaleY(0.6);}
}

/* tombol lebih menarik */
button{
  padding:12px 20px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#22c55e,#16a34a);
  color:white;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  transform:scale(1.1);
}

@keyframes fall{
  to{
    transform:translateY(100vh) rotate(720deg);
  }
}

button {
cursor: pointer;
touch-action: manipulation;
}
canvas {
width: 100% !important;
height: auto !important;
max-width: 600px;
}

.app-credit{
  position: fixed;
  bottom: 12px;
  left: 12px;
  font-size: 15px;
  color: #f7f9fa;
  font-family: Arial, sans-serif;
  z-index: 999;
}